<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1077423158193-lm4j35h6f14ql2m2chrouuinfnf296bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077423158193-lm4j35h6f14ql2m2chrouuinfnf296bm</string>
	<key>API_KEY</key>
	<string>AIzaSyDSQIZ6XygWQGCDrXZCVlc0DFP06Be4tpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1077423158193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naren.SocialApp2</string>
	<key>PROJECT_ID</key>
	<string>socialapp2-aab24</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp2-aab24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077423158193:ios:4373dca26759b5b3</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp2-aab24.firebaseio.com</string>
</dict>
</plist>